$drkblack: #121212;
$mdblack: #222222;
$mdlghtblack: #323232;
$lgtblack:#424242;
$orange: #FFC79D;
$box-shadow: 0px 10px 40px rgba(0,0,0.15);
$br: 12px;

body{
    background-color: $drkblack;
    color:#f2f2f2;
    font-family: 'Poppins', sans-serif;
  }
  section{
    min-height: 100vh;
  }
  .bw-full-width {
    width: 80%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-card{
    border-radius: 15px;
    background-color: $lgtblack;
    padding:20px;
    &.orange{
      background-color: $orange;
    }
  }
  .grid-two-one{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
    margin-bottom:20px;
  }
  .grid-one-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-bottom:20px;
  }
  .nav-bar{
    position: fixed;
    top:0px;
    width:100%;
    padding:10px;
    z-index: 999999;
    background-color: $drkblack;
    .nav-bar-inner{
      max-width: 1440px;
      width:80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-logo{
      max-width: 80px;
      width:100%;
    }
  }
  
.hero-section{
  height:calc(100vh - 100px);
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  h1{
    text-align: center;
  }
  .section-background{
    // margin-top:150px;
    border-radius: 12px;
    box-shadow: $box-shadow;
    border:1px solid #828282;
    padding:10px;
    position: relative;
    height:100%;
    width:100%;
    .section-inner{
      background-color: $mdlghtblack;
      border-radius: 12px;
      box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.3);
    }
  }
  .mock-screen{
    position: relative;
    top:0px;
    left:0px;
    width: 100%;
    height:35px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    .dot-group{
      position: absolute;
      display: flex;
      left:5px;
      .dot{
        background-color: $lgtblack;
        width:10px;
        height: 10px;
        display: flex;
        border-radius: 50%;
        margin-left:4px;
      }
    }
    .search{
      height:25px;
      width:50%;
      background-color: $lgtblack;
      border-radius: 25px;
    }
    .button-prev, .button-next{
      .material-symbols-outlined{
        line-height: 24px;
      }
    }
  }
  .hero-content{
    padding:0px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 12px 12px;
    background-color: transparent;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    img{
      border-radius: 0px 0px 12px 12px;
      transform: scale(0.2);
      transition: 0.7s ease 0.2s;
    }
    &.swiper-slide-active{
      img{
        transform: scale(1);
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.spotlight{
  .grid-section{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    .grid-1{
      grid-column: 1 / span 3;
    }
    .grid-2{
      grid-column: span 1;
    }
    .grid-card{
      background-color: $lgtblack;
      border-radius: $br;
      height:100%;
      min-height: 300px;
      .card-heading{
        padding:20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .section-background{
    border-radius: 12px;
    background-color: $mdblack;
    box-shadow: $box-shadow;
    padding:5px;
    .section-inner{
      border:1px solid $lgtblack;
      background-color: $mdlghtblack;
      border-radius: 10px;
      padding:25px;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: red;
      }
    }
  }
}
.company-section{
  display: flex;
  .company-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    gap:20px;
  }
}