body{
  background-color: #222222;
  color:#f2f2f2;
  font-family: 'Poppins', sans-serif;
}
nav{
  z-index: 10000;
}
.bw-full-width{
  width:80%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.scroll-section {
  height: 100vh;
  display: grid;
}
.hero-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
  justify-content: center;
}
.hero-container .moving-container{
  background-color: #444444;
  width:40%;
  min-height:600px;
  height:80vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container .moving-container img{
  max-width:80%;
}
.hero-container .hero-text{
  width:60%;
  min-height:600px;
  height:80vh;
}
.hero-container .hero-text .hero-description{
  display: flex;
  flex-direction: row;
}
.slide-text{
  background-color: #444444;
  padding:30px;
  border-radius: 10px;
}
img.work-img{
  max-width: 100%;
  border-radius: 10px;
}
