@charset "UTF-8";
html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: #f2f2f2;
  background-color: #121212;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: true;
  line-height: 1.15;
  font-weight: 600;
}

h1,
.text-size-h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  font-size: 4.21rem;
}

h2,
.text-size-h2 {
  font-size: 3.16rem;
}

h3,
.text-size-h3 {
  font-size: 2.37rem;
}

h4,
.text-size-h4 {
  font-size: 1.78rem;
}

h5,
.text-size-h5 {
  font-size: 1.33rem;
}

.text-caption {
  font-size: 0.75rem;
  font-weight: 300;
}

small,
.text-small {
  font-size: 0.56rem;
  font-weight: 300;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul > li:before {
  display: inline-block;
  content: "–";
  width: 1em;
  margin-left: -1em;
}

.nav-btn {
  background-color: transparent;
  color: #f2f2f2;
  border-radius: 12px;
  padding: 12px 36px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 12px;
  transition: all 0.6s ease;
}
.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f2f2f2;
}

.bw-icon-btn {
  background-color: #F26722;
  border-radius: 12px;
  padding: 12px 36px;
  display: inline-flex;
  align-items: center;
  width: auto;
  gap: 12px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.bw-icon-btn .btn-icon {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}
.bw-icon-btn:hover .btn-icon {
  transform: translatex(6px);
}

section {
  min-height: 100vh;
}

.bw-full-width {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.container-card {
  border-radius: 15px;
  background-color: #424242;
  padding: 20px;
}
.container-card.orange {
  background-color: #ec7923;
}

.grid-two-one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-one-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-bar {
  position: fixed;
  top: unset;
  bottom: 20px;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  z-index: 999999;
  transition: all 0.6s ease;
}
.nav-bar .nav-bar-inner {
  max-width: 1440px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  box-shadow: 0px 10px 40px rgb(0, 0, 0);
  border-radius: 17px;
}
.nav-bar .nav-logo {
  display: none;
  max-width: 80px;
  width: 100%;
}

.hero-section {
  min-height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background-color: #121212;
  overflow: hidden;
}
.hero-section .section-inner {
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  padding-top: 100px;
  height: 75vh;
  background-color: #f2f2f2;
  color: #121212;
}
.hero-section .section-inner.section-full-height {
  height: 100vh;
  padding-top: 0px;
}
.hero-section .section-inner .showcase-outer {
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 75px rgba(236, 121, 35, 0.5), inset 0px 0px 100px rgba(236, 121, 35, 0.5);
  border-radius: 17px;
}
.hero-section .section-inner .showcase-outer .showcase-inner {
  background-color: rgba(242, 242, 242, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 17px;
  padding: 20px;
}
.hero-section .scroll-scale {
  transform: scale(1); /* Initial scale */
}
.hero-section .hero-content {
  padding: 0px;
}
.hero-section .swiper {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 12px 12px;
  background-color: transparent;
}
.hero-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
}
.hero-section .swiper-slide img {
  border-radius: 0px 0px 12px 12px;
  transform: scale(0.2);
  transition: 0.7s ease 0.2s;
}
.hero-section .swiper-slide.swiper-slide-active img {
  transform: scale(1);
}
.hero-section .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-work .fw-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.featured-work .fw-grid .fw-card {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  border-radius: 17px;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-work .fw-grid .fw-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spotlight-section {
  min-height: 0px;
  border-top: 1px solid #424242;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  transition: background-color 0.3s ease;
}
.spotlight-section .mesh-gradient {
  background-color: hsla(0, 0%, 100%, 0);
  background-image: radial-gradient(at 55% 36%, hsla(242, 100%, 70%, 0.5) 0px, transparent 50%), radial-gradient(at 30% 100%, hsla(22, 100%, 77%, 0.5) 0px, transparent 50%);
}
.spotlight-section .section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
  max-width: 1440px;
  opacity: 0;
  transition: opacity 2.5s;
}
.spotlight-section .section-inner .row {
  margin: 0px !important;
}
.spotlight-section .section-inner .section-col {
  padding: 30px;
  /* plus sign */
  /* text */
  /* hover effect on button width */
  /* hover effect button's text */
  /* button click effect*/
}
.spotlight-section .section-inner .section-col:not(:first-child) {
  border-left: 1px solid #424242;
}
.spotlight-section .section-inner .section-col .arrow-btn-lg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 2px solid #f2f2f2;
}
.spotlight-section .section-inner .section-col span {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotlight-section .section-inner .section-col span svg {
  width: 17px;
}
.spotlight-section .section-inner .section-col .hidden-text {
  position: absolute;
  white-space: nowrap;
  left: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
.spotlight-section .section-inner .section-col .arrow-btn-lg:hover {
  width: 210px;
  transition-duration: 0.3s;
  background-color: #ec7923;
  border-color: #ec7923;
}
.spotlight-section .section-inner .section-col .arrow-btn-lg:hover span {
  width: 30%;
  transition-duration: 0.3s;
  padding-right: 20px;
}
.spotlight-section .section-inner .section-col .arrow-btn-lg:hover .hidden-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
.spotlight-section .section-inner .section-col .arrow-btn-lg:active {
  transform: translate(2px, 2px);
}
.spotlight-section .section-inner .section-col .arrow-btn-lg span {
  transform: rotate(-45deg);
  font-size: 35px;
}
.spotlight-section:hover {
  cursor: pointer !important;
}
.spotlight-section:hover .section-col {
  /* hover effect on button width */
  /* hover effect button's text */
  /* button click effect*/
}
.spotlight-section:hover .section-col .arrow-btn-lg {
  width: 210px;
  transition-duration: 0.3s;
}
.spotlight-section:hover .section-col .arrow-btn-lg span {
  width: 30%;
  transition-duration: 0.3s;
  padding-right: 20px;
}
.spotlight-section:hover .section-col .arrow-btn-lg .hidden-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
.spotlight-section:hover .section-col .arrow-btn-lg:active {
  transform: translate(2px, 2px);
}
.spotlight-section:hover .section-col .arrow-btn-lg span {
  transform: rotate(0deg);
  font-size: 35px;
}
.spotlight-section.last-section {
  border-bottom: 1px solid #424242;
}
.spotlight-section#accountSetup .mesh-gradient {
  background-color: hsla(0, 0%, 100%, 0);
  background-image: radial-gradient(at 55% 36%, hsla(336, 100%, 74%, 0.9) 0px, transparent 50%), radial-gradient(at 30% 100%, hsla(211, 100%, 87%, 0.9) 0px, transparent 50%);
}
.spotlight-section#helpPanel .mesh-gradient {
  background-color: hsla(0, 0%, 100%, 0);
  background-image: radial-gradient(at 55% 36%, hsla(207, 100%, 30%, 0.9) 0px, transparent 50%), radial-gradient(at 30% 100%, hsla(0, 0%, 60%, 0.9) 0px, transparent 50%);
}
.spotlight-section#myOrangeWhip .mesh-gradient {
  background-color: hsla(0, 0%, 100%, 0);
  background-image: radial-gradient(at 55% 36%, hsla(0, 75%, 50%, 0.9) 0px, transparent 50%), radial-gradient(at 30% 100%, hsla(35, 100%, 45%, 0.9) 0px, transparent 50%);
}
.spotlight-section#userNavigation .mesh-gradient {
  background-color: hsla(0, 0%, 100%, 0);
  background-image: radial-gradient(at 55% 36%, hsla(55, 0%, 40%, 0.9) 0px, transparent 50%), radial-gradient(at 30% 100%, hsla(0, 0%, 60%, 0.9) 0px, transparent 50%);
}

.grow-container {
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  background-color: #ec7923;
  border-radius: 17px;
  transition: transform 0.4s ease-in-out;
  transform: scale(1); /* Default scale */
}

.grow-container.grow {
  transform: scale(1.05); /* Slightly larger when scrolled into view */
}

.spotlight .grid-section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.spotlight .grid-section .grid-1 {
  grid-column: 1/span 3;
}
.spotlight .grid-section .grid-2 {
  grid-column: 1/span3;
}
.spotlight .grid-section .grid-card {
  background-color: #424242;
  border-radius: 17px;
  height: 100%;
  max-height: 500px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}
.spotlight .grid-section .grid-card .card-heading {
  display: flex;
  justify-content: space-between;
}
.spotlight .grid-section .grid-card .card-spotlight-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transform: scale(1);
  border-radius: 7px;
  transition: all 0.3s ease;
}
.spotlight .grid-section .grid-card.ow-blue {
  background-color: #0072ff;
}
.spotlight .grid-section .grid-card.wa-blue {
  background-color: #00559B;
}
.spotlight .grid-section .grid-card.fg-orange {
  background-color: #F26722;
}
.spotlight .grid-section .grid-card.wa-green {
  background-color: #367C36;
}
.spotlight .grid-section .grid-card .material-symbols-outlined {
  transition: all 0.5s;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotlight .grid-section .grid-card:hover .material-symbols-outlined {
  transform: translatex(10px);
}
.spotlight .grid-section .grid-card:hover .card-spotlight-img {
  transform: scale(1.05);
  border-radius: 17px;
}
.spotlight .section-background {
  border-radius: 12px;
  background-color: #222222;
  box-shadow: 0px 10px 40px rgb(0, 0, 0);
  padding: 5px;
}
.spotlight .section-background .section-inner {
  border: 1px solid #424242;
  background-color: #323232;
  border-radius: 10px;
  padding: 25px;
  transition: all 0.5s ease-in-out;
}
.spotlight .section-background .section-inner:hover {
  background-color: red;
}

.img-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.img-container .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.mock-screen {
  width: 100%;
  border-radius: 17px;
  display: flex;
  padding: 20px;
  position: relative;
  background-color: rgba(242, 242, 242, 0.15);
}
.mock-screen .screen-inner {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.mock-screen .screen-inner img {
  width: 100%;
}
.mock-screen .screen-inner video {
  border-radius: 10px;
}

.appear {
  opacity: 1 !important;
}

@media (min-width: 767px) {
  .grid-section .grid-1 {
    grid-column: 1/span 3 !important;
  }
  .grid-section .grid-2 {
    grid-column: span 1 !important;
  }
  .nav-btn {
    flex-direction: row;
    font-size: 1rem;
  }
  .nav-bar {
    position: fixed;
    top: 0px;
    bottom: unset;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
  }
  .nav-bar .nav-bar-inner {
    width: 80%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 17px;
  }
  .nav-bar .nav-logo {
    display: block;
    max-width: 80px;
    width: 100%;
  }
  .nav-bar.scrolled {
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    margin-top: 0px;
  }
}
.height-auto {
  min-height: auto;
  height: auto;
}/*# sourceMappingURL=styles.css.map */