$drkblack: #1a1a1a;
$mdblack: #222222;
$mdlghtblack: #323232;
$lgtblack:#424242;
$orange: #ec7923;
$white: #f2f2f2;
$lghtgray: #d6d6d6;
$box-shadow: 0px 10px 40px rgba(0,0,0.15);
$br: 17px;
$brinner: 7px;


html {font-size: 1rem;}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: false;
  line-height: 1.65;
  background-color:$white;
  color: $mdblack;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.site-content {
  margin-top: 80vh; /* Start below the hero */
  background-color: $white;
}
p {
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: true;
  line-height: 1.4em;
  font-weight: 600;
}

h1,
.text-size-h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  font-size: 2.4rem; 
  font-weight: 900;
}

h2,
.text-size-h2 { font-size: 2rem; }

h3,
.text-size-h3 { font-size: 1.8rem; }

h4,
.text-size-h4 { font-size: 1.5rem; }

h5,
.text-size-h5 { font-size: 1.3rem; }

.text-caption { font-size: 0.75rem; font-weight: 300;}

small,
.text-small {
  font-size: 0.56rem;
  font-weight: 300;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  > li{
    &:before {
    display: inline-block;
    content: "–";
    width: 1em;
    margin-left: -1em;
  }
  }
}

.w-contain{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.horizontal-heading{
  z-index: -1;
  position: relative;
}
.scaling-hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px; /* Start at 80% of viewport height */
  /* background-color: #3498db; */
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 10;
  overflow: hidden;
  transition: height 0s ease-out, padding 0.5s ease-out; /* Smooth transition for shrinking */
  .scaling-hero-inner{
    padding-top:100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding:100px 20px 0px 20px;
    transition: border-radius 0.5s ease-out;
    background-color:hsla(0,100%,50%,1);
    color: $white;
    background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    .hero-feature-img{
      padding:20px 20px 0px 20px;
      background-color: rgba(255,255,255, 0.2);
      border-radius: 17px 17px 0px 0px;
      margin-top:30px;
      transition-duration: .2s;
      max-width: 1000px;
      min-width: 400px;
      img, video{
        border-radius: 7px 7px 0px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.shrink{
    padding:0px 20px;
    .scaling-hero-inner{
      border-radius: 0px 0px 20px 20px;
    }
  }
}
.hero-section{
  height:90vh;
  min-height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .section-inner{
    border-radius: $br;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top:20px;
    margin:20px 20px 0px 20px;
    padding:30px;
    padding-top:100px;
    height:100%;
    overflow: hidden;
    background-color:hsla(0,100%,50%,1);
    color: $white;
    background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    .hero-feature-img{
      padding:20px 20px 0px 20px;
      background-color: rgba(255,255,255, 0.2);
      border-radius: 17px 17px 0px 0px;
      margin-top:30px;
      transition-duration: .2s;
      max-width: 1000px;
      min-width: 400px;
      img, video{
        border-radius: 7px 7px 0px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.hero-grid{
      display: grid;
      padding:10px;
      grid-template-columns: 1fr;
      gap:10px;
      .grid-item-1{
        padding:30px;
        border-radius: $br;
      }
      .grid-item-2{
        padding:30px;
        border-radius: $br;
        grid-column: 1;

      }
    }
  }
  &.hero-work{
    .work-heading{
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .section-inner{
      padding-bottom:0px;
    }
  }

  .scroll-scale {
    transform: scale(1); /* Initial scale */
  }

  .hero-content{
    padding:0px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 12px 12px;
    background-color: transparent;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    img{
      border-radius: 0px 0px 12px 12px;
      transform: scale(0.2);
      transition: 0.7s ease 0.2s;
    }
    &.swiper-slide-active{
      img{
        transform: scale(1);
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bw-grid{
  padding:20px;
  display: grid;
  grid-template-columns: 1fr;
  gap:40px 20px;
  .grid-item-1{
    padding:30px;
    border-radius: $br;
  }
  .grid-item-2{
    padding:30px;
    border-radius: $br;
    grid-column: 1;

  }
  .feature-card{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding:0px;
    position: relative;
    overflow: hidden;
    // background-color: $mdlghtblack;
    .card-img-section{
      // background-color: #007bff;
      position: relative;
      padding:100px 20px 0px 20px;
      border-radius: $br;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;
      .card-feature-img{
        max-width: 800px;
      }
    }
    .card-description{
      padding:30px;
      border-bottom: 1px solid $lghtgray;
      flex:1;
    }
    a{
      color:inherit;
      text-decoration: none;
    }
    &:hover{
      .arrow-btn-lg {        
        transform: translate(15px,-15px);
      }
      .card-feature-img{
          transform: scale(1.05);
      }
    }
    &.work-feature-card{
      .card-img-section{
        padding:30px 20px 0px 20px;
      }
      &.img-right{
        .card-img-section{
          padding:30px 0px 0px 0px;
          border-radius: $br;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          overflow: hidden;
          .card-feature-img{
            max-width: 800px;
            height: 100%;
            transform: translateX(30px);
            img, video{
              object-position: left top;
            }
          }
        }
      }
      &.img-left{ 
        .card-img-section{
          padding:30px 0px 0px 0px;
          border-radius: $br;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          overflow: hidden;
          .card-feature-img{
            max-width: 800px;
            height: 100%;
            transform: translateX(-30px);
            img, video{
              object-position: right top;
            }
          }
        }
      }
      &.card-height-set{
        .card-img-section{
          align-items: flex-start;
          height: 500px;
        }
      }
    }
  }
  // .feature-card-vertical{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   padding:30px 30px 0px 30px;
  //   position: relative;
  //   overflow: hidden;
  //   a{
  //     color:inherit;
  //     text-decoration: none;
  //   }
  //   &:hover{
  //     .arrow-btn-lg {        
  //       transform: translate(15px,-15px);
  //     }
  //     .card-feature-img{
  //       transform: scale(1.05);
  //     }
  //   }
  // }
  // .feature-card-horizontal{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   padding:30px 30px 0px 30px;
  //   position: relative;
  //   overflow: hidden;
  //   a{
  //     color:inherit;
  //     text-decoration: none;
  //   }
  //   .card-feature-img{
  //     width: 100%;
  //     margin-top:20px;
  //   }
  //   &:hover{
  //     .arrow-btn-lg {        
  //       transform: translate(15px,-15px);
  //     }
  //     .card-feature-img{
  //       transform: scale(1.05);
  //     }
  //   }
  // }
  .card-feature-img{
    padding:12px 12px 0px 12px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 17px 17px 0px 0px;
    // margin-top:30px;
    overflow: hidden;
    transition-duration: .2s;
    transform: translateY(10px);
    img, video{
      border-radius: 7px 7px 0px 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .work-card{
      background-color: #E5E5E5;
      padding:50px 20px 0px 20px;
      border-radius: $br;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      .card-feature-img{
        max-width: 800px;
        padding:12px 12px 0px 12px;
        background-color: rgba(255,255,255, 0.2);
        border-radius: 17px 17px 0px 0px;
        // margin-top:30px;
        overflow: hidden;
        transition-duration: .2s;
        transform: translateY(10px);
        img, video{
          border-radius: 7px 7px 0px 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    .des-tag{
      background-color: #3c03e6;
      border: 1px solid #3c03e6;
      color: #fff;
      padding:5px 15px;
      border-radius: 7px;
      position: absolute;
      top:10px;
      right:10px;
    }
  }
}
.bw-list{
  padding:20px;
  .list-item{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    padding:30px;
    border-bottom: 1px solid $lghtgray;
    &:first-child{
      border-top: 1px solid $lghtgray;
    }
    .w-3{
      grid-column:  span 3;
    }
    .w-7{
      grid-column: span 7;
    }
  }
}
.inverse-card{
  background-color: #E5E5E5 !important;
  color:$drkblack !important;
  background-image: none !important;
  .feature-tags{
    .tag{
      color: $drkblack;
      background-color: rgba(0,0,0, 0.15);
    }
  }
  .card-feature-img{
    background-color: rgba(0,0,0, 0.15);
  }
  .arrow-btn-lg{
    background-color: rgba(0,0,0, 0.15);
  }
}
.ow-home-bg{
  background-color: $mdlghtblack !important;
  background-image: none !important; 
}
.wa-profile-bg{
  background-color: #E5E5E5 !important;
  background-image: none !important; 
}
.wa-website-bg{
  background-color: #86b8ef !important;
  background-image: none !important; 
}
.account-setup-bg{
  background-color: #e0a1ff !important;
  background-image: none !important; 
}
.help-panel-bg{
  background-color: #8fbae7 !important;
  background-image: none !important;
  .card-feature-img{
    background-color: transparent;
  }
}
.club-customizer-bg{
  background-color: #f49e52 !important;
  background-image: none !important;
}
.user-nav-bg{
  background-color: #8d8d8d !important;
  background-image: none !important;
}
.contact-list-bg{
  background-color: #9cc2ee !important;
  background-image: none !important;
}
.fg-website-bg{
  background-color: #6a8d6c !important;
  background-image: none !important;
}
.about-orange{
  background-color: #be4312;
}
.lght-gray-card{
  background-color: #E5E5E5;
  color:$drkblack;
  .feature-tags{
    .tag{
      color: $drkblack;
      background-color: rgba(0,0,0, 0.15);
    }
  }
}
.expertise-card-1{
  background-color: #4f4f4f;
  overflow: hidden;
  .skill-row{
    margin-bottom:10px;
  }
}
.expertise-section{
  padding:0px;
  .expertise-card{
    background-color: #4f4f4f;
    overflow: hidden;
    padding:30px;
    border-radius: $br;
    .skill-row{
      margin-bottom:10px;
    }
  }
}
.lg-tags{
  background-color: rgba(255,255,255, 0.2);
  color:$white;
  width: auto !important;
  border-radius: 300px;
  padding: 30px 60px;
  font-size: 1.8rem; 
  margin-right:5px;
  white-space: nowrap;
}
.swiper-wrapper {
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}
.work-page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right:0px;
  background-color: $white;
  .bw-grid{
    .feature-card{
      .card-description{
        border-bottom: none;
      }
    }
  }
  .side-menu{
    position: sticky;
    top:60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    padding:20px;
    .side-nav{
      display: none;
      margin-top:20px;
      margin-bottom: 20px;
      padding:20px 20px 0px 20px;
      width: 100%;
      background-color: #e7e7e7;
      border-radius: $br;
      border: 1px solid $lghtgray;
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0em;
        > li{
          padding-bottom:20px;
          &:before {
          display: none;
          }
          a{
            color: $drkblack;
            &:hover{
              color:$lgtblack;
            }
          }
          &.active{
            a{
              color:#3c03e6;
            }
          }
        }
      }
    }
    .next-project{
      width: 100%;
      .project-img{
        width: 100%;
        border-radius: $br;
        height:150px;
        overflow: hidden;
        padding: 10px 10px 0px 10px;
        img, video{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
          border-radius: 7px 7px 0px 0px;
        }
      }
    }
  }
}
.work-process-divider{
  display: flex;
  flex-direction: row;
  align-items: center;
  .divider-num{
    margin-right:10px;
  }
  .line{
    margin-left:10px;
    flex:1;
    height:1px;
    background-color: $lghtgray;
  }
}



@media (min-width:1024px){
  h1,
  .text-size-h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    font-size: 2.4rem; 
  }
  .bw-grid{
    grid-template-columns: 1fr 1fr;
    .grid-item-2{
      grid-column: 1 / span 2;
  
    }
    .feature-card{
      .card-img-section{
        min-height: 400px;
      }
      &.f-card-horizontal{
        flex-direction: row;
        .card-feature-img{
          width: calc(50% - 40px);
          margin-top:90px;
        }
      }
    }
    // .feature-card-horizontal{
    //   flex-direction: row;
    //   .card-feature-img{
    //     width: calc(50% - 40px);
    //     margin-top:90px;
    //   }
    // }
  }
  .work-page{
    flex-direction: row;
    padding-right:20px;
    .side-menu{
      padding:40px 0px 0px 0px;
      .side-nav{
        display: block;
      }
    }
  }
}
@media (max-width:1023px){
  .hero-section{
    .section-inner{
      h1.secondary-h1{
        font-size: 3rem;
      }
    }
  }
}

.step-icon{
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: $br;
  padding:10px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  span{
    font-size: 50px;
  }
}
.launch-label{
    background-color: rgba(255,255,255, 0.2);
    color:$white;
    width: auto;
    border-radius: 300px;
    padding: 5px 10px;
  }
.tag-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .tag{
    width: auto;
    padding: 10px 0px;
    white-space: nowrap;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    .dot{
      min-width: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $mdblack;
    }
  }
}
.company-favicon{
  width:40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.feature-tags{
  display: flex;
  flex-direction: row;
  .tag{
    background-color: rgba(255,255,255, 0.2);
    color:$white;
    width: auto;
    border-radius: 300px;
    padding: 10px 20px;
    margin-right:5px;
    white-space: nowrap;
  }
  &.about-tags{
    flex-wrap: wrap;
    .tag{
      margin-bottom:5px;
    }
  }
}

.nav-btn{
  background-color: transparent;
  color:$white;
  border-radius: 12px;
  padding: 12px 36px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap:12px;
  transition: all 0.6s ease;
  &:hover{
    background-color: rgba(255,255,255, 0.1);
    color:$white;
  }
}

.bw-icon-btn{
  background-color: #F26722;
  border-radius: 12px;
  padding: 12px 36px;
  display: inline-flex;
  align-items: center;
  width: auto;
  gap:12px;
  transition: all 0.6s ease;
  cursor: pointer;
  .btn-icon{
    width:30px;
    height:30px;
    background-color: rgba(0,0,0, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
  }
  &:hover{
    .btn-icon{
      transform: translatex(6px);
    }
  }
}

  section{ 
    min-height: 100vh;
    background-color: $white;
  }
  .bw-full-width {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-card{
    border-radius: 15px;
    background-color: $lgtblack;
    padding:20px;
    &.orange{
      background-color: $orange;
    }
  }
  .grid-two-one{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
    margin-bottom:20px;
  }
  .grid-one-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-bottom:20px;
  }
  .nav-bar{
    position: fixed;
    top:0px;
    bottom:unset;
    width:100%;
    margin-top:20px;
    padding:0px 20px;
    z-index: 1000;
    transition: all 0.6s ease;
    .nav-bar-inner{
      width:100%;
      padding:20px;
      background-color: transparent;
      box-shadow: none;  
      border-radius: 0px 0px 17px 17px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.6s ease;
    }
    .nav-logo{
      display: block;
      max-width: 80px;
      width:100%;
    }
    &.scrolled{
      margin-top:0px;
      .nav-bar-inner{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
      }
    }
  }
  // .nav-bar{
  //   position: fixed;
  //   top:unset;
  //   bottom:20px;
  //   width:100%;
  //   margin-top:40px;
  //   padding:10px;
  //   z-index: 999999;
  //   // background-color: $drkblack;
  //   transition: all 0.6s ease;
  //   .nav-bar-inner{
  //     max-width: 1440px;
  //     width:90%;
  //     margin-left: auto;
  //     margin-right: auto;
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     background-color: $mdblack;
  //     box-shadow: $box-shadow;  
  //     border-radius: $br;
  //   }
  //   .nav-logo{
  //     display: none;
  //     max-width: 80px;
  //     width:100%;
  //   }
  // }
  
.img-container{
  width:100%;
  overflow: hidden;
  border-radius: 8px;  
  .img{
    object-fit: cover;
    width:100%;
  }
}
.mock-screen{
  width: 100%;
  // background: rgb(50,50,50);
  // background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(50,50,50,0.8) 66%, rgba(50,50,50,0) 100%);
  border-radius: $br;
  // max-height:400px;
  display: flex;
  padding:20px;
  position: relative;
  background-color: rgba(242,242,242, 0.15);

  .screen-inner{
    border-radius: 10px;
    overflow: hidden;
    // height: 100%;
    width:100%;
    img{
      width:100%;
    }
    video{
      border-radius: 10px;
    }
  }
}

.appear{
  opacity: 1 !important;
}
.main-nav{
  display: none;
}

@media (min-width: 767px) {
  .grid-section{
    .grid-1{
      grid-column: 1 / span 3 !important;
    }
    .grid-2{
      grid-column: span 1 !important;
    }
  }
  .nav-btn{
    flex-direction: row;
    font-size: 1rem;
  }
  .hamburger {
    display: none !important;
  }
  .main-nav{
    display: block;
  }
}

.height-auto{
  min-height: auto;
  height: auto;
}


.arrow-btn-lg {        
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 300px;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition-duration: .6s;
  background-color: rgba(255,255,255, 0.2);
  color: $white !important;
  right:30px;
  top:30px;
  // color:$mdblack !important;
  span{
    transform: rotate(-45deg);
    font-size: 40px;
  }
}
.btn-group{
  margin-bottom: 20px;
}
.work-btn{
  display: inline-flex;
  align-items: center;
  margin-top:10px;
  padding:10px 20px;
  background-color: $drkblack;
  color: $white !important;  
  border-radius: 50px;
  width: auto;
  transition: ease 0.5s;
  text-decoration: none !important;
  cursor: pointer;
  span{
    margin-left:10px;
    animation: arrowRotate 4s infinite 0.2s;
    transform: rotate(-40deg);
    transition: ease 0.2s;
  }
  &:hover{
    background-color: #3c03e6 !important;
    // color: $black !important;
    transform: translate(3px, -3px);
    span{
      animation: none;
      transform: rotate(-45deg) !important;
    }
  }
  &.btn-alt{
    background-color: transparent;
    color:#3c03e6 !important;
    border: 1px solid #3c03e6;
    &:hover{
      background-color: #3c03e637 !important;
    }
  }
}
@keyframes arrowRotate {
  50% {
    transform: rotate(10deg);
  }
}

.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.bw-dropdown-menu {
  // display: none;
  position: absolute;
  top: 73px; /* Position below the hamburger */
  right: 0px;
  background: $white;
  width:150px;
  margin: 0;
  padding: 0;
  // border: 1px solid #ccc;
  border-radius: $br;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Start from above */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add smooth transitions */
  overflow: hidden;
}
.bw-dropdown-menu{
  display: flex;
  flex-direction: column;
}
.bw-dropdown-menu a{
  width: 100%;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}
.bw-dropdown-menu a:hover{
  background-color: $lghtgray;
}

.hamburger input[type="checkbox"]:checked + svg + .bw-dropdown-menu {
  // display: block; /* Show the menu when checkbox is checked */
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Slide to its final position */
}


        /* Button Styling */
        .play-video-btn{
          position: absolute;
          bottom:20px;
          right:20px;
          width:80px;
          min-width: 80px;
          height:80px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border:1px solid $drkblack;
          background-color: transparent;
          color: $drkblack;
          transition: 0.7s ease;
          .material-symbols-outlined{
            font-size: 40px;
            font-weight: 300;
          }
          &:hover{
            transform: rotate(360deg);
          }
        }
      /* Modal Styling */
      .modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1001;
          background: rgba(0, 0, 0, 0.7);
          display: none;
          align-items: center;
          justify-content: center;
      }

      .modal-content {
          position: relative;
          border-radius: $br;
          max-width: 900px; 
      }

      /* Close Button */
      .close-modal {
          position: absolute;
          font-size: 24px;
          font-weight: bold;
          cursor: pointer;
          bottom: -50px;
          left: 50%;
          width: 50px;
          height: 50px;
          background: rgba(0, 0, 0, 0.2);
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateX(-50%);
      }

      .close-modal:hover {
          color: red;
      }

      /* Video */
      .video-container {
          width: 100%;
      }

      .video-container video {
          width: 100%;
          max-height: 80vh;
          border-radius: $br;
      }